@charset "UTF-8";

.top {
  background-image: url(../img/index-top.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background-color: rgb(255, 255, 255,15%);
}

.top-wrap {
  max-width: 1400px;
  width: 85%;
  height: 100vh;
  margin: 0 auto;
}

.top-wrap__ttl {
  position: absolute;
  color: #757575;
  right: 5%;
  bottom: 10%;
}

.top-wrap__ttl h1 {
  font-size: 3.5rem;
  text-shadow: 0px 10px 10px rgb(0, 0, 0, 40%);
  line-height: 1.25;
}

.greet-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greet-wrap__right {
  width: 45%;
}

.greet-wrap__right__ttl {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.35;
  margin-top: 3.5%;
  color: #677B96;
}

.greet-wrap__right__txt {
  margin-top: 3.5%;
}

.greet-wrap__right .btn {
  margin-left: auto;
}
.greet-wrap__left {
  width: 45%;
  aspect-ratio: 7/5;
}

.greet-wrap__left img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.clinic {
  background-color: #779FD7;
}

.clinic-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.clinic-wrap__left {
  width: 45%;
}

.clinic-wrap__left__ttl {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.35;
  margin-top: 3.5%;
  color: #fff;
}

.clinic-wrap__left__txt {
  margin-top: 3.5%;
  color: #fff;
}

.clinic-wrap__right {
  width: 45%;
  aspect-ratio: 7/5;
}

.clinic-wrap__right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.info {
  background-color: rgb(119, 159, 215, 20%);
}

.info-wrap__ttl {
  text-align: center;
}

.info-wrap__body__block {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 2.5%;
  padding-top: 5%;
}

.info-wrap__body__block a {
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
}

.info-wrap__body__block a::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 6px;
  border-bottom: 2px solid #779FD7;
  border-right: 3px solid #779FD7;
  transform: skew(45deg);
  right: 7.5%;
  bottom: 7.5%;
  transition: all 0.3s;
}

.info-wrap__body__block a:hover {
  opacity: 0.7;
}

.info-wrap__body__block a:hover::after {
  right: 5%;
}
.info-wrap__body__block__item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 30%;
  padding: 2%;
  margin: 0 1.5%;
}

.info-wrap__body__block__item__ttl {
  background-color: #779FD7;
  width: 65%;
  border-radius: 25px;
  margin: -18% auto 5%;
  text-align: center;
}

.info-wrap__body__block__item__ttl h3 {
  display: inline-block;
  font-size: 1.35rem;
  color: #fff;
  padding: 3.5% 0;
}

.info-wrap__body__block__item__img {
  width: 100%;
  aspect-ratio: 7/2;
}

.info-wrap__body__block__item__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-wrap__body__block__item__txt {
  margin-top: 2.5%;
  margin-bottom: 5%;

}

.info-wrap__body__block__item__txt p {
  color: #757575;
}

.res-wrap__ttl {
  text-align: center;
}

.res-wrap__body {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5%;
}

.res-wrap__body__block {
  width: 50%;
  text-align: center;
}

.res-wrap__body__block__ttl h3 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.res-wrap__body__block__ttl h3::before,
.res-wrap__body__block__ttl h3::after {
  border-top: dotted 2.5px #757575;
  content: "";
  width: 5rem;
}

.res-wrap__body__block__ttl h3::before {
  margin-right: 10px;
}

.res-wrap__body__block__ttl h3::after {
  margin-left: 10px;
}

.res-wrap__body__block__table {
  margin: 2.5%;
}

.res-wrap__body__block__table table {
  width: 100%;
}

.res-wrap__body__block__table table tr:nth-of-type(1) {
  background-color: rgb(119, 159, 215, 25%);
}

.res-wrap__body__block__table table tr:nth-of-type(2),
.res-wrap__body__block__table table tr:nth-of-type(3) {
  border-bottom: solid 1px #ccc;
} 

.res-wrap__body__block__table tr th {
  padding: 12.5px;
}

.res-wrap__body__block__table tr td {
  padding: 12.5px;
}

.res-wrap__body__block__res {
  display: flex;
  justify-content: space-between;
  margin: 2.5%;
  padding: 3.5%;
  border-top: solid #ccc 1px;
  border-bottom: solid #ccc 1px;
}

.res-wrap__body__block__res__web {
  width: 40%;
  margin-right: 1%;
}

.res-wrap__body__block__res__web a {
  width: 100%;
  height: 100%;
  background-color: #779FD7;
  border: solid 2.5px #779FD7;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s;
}

.res-wrap__body__block__res__web a:hover {
  background-color: #fff;
  color: #779FD7;
  border: solid 2.5px #779FD7;
}

.res-wrap__body__block__res__web a p {
  font-size: 1.5rem;
  font-weight: 500;
}

.res-wrap__body__block__res__tel {
  width: 55%;
  margin-left: 1%;
}

.res-wrap__body__block__res__tel p:nth-of-type(1) {
  margin-bottom: 1.5%;
  font-size: 0.95rem;
  font-weight: 500;
}

.res-wrap__body__block__res__tel p:nth-of-type(2) {
  font-size: 1rem;
}

.res-wrap__body__block__res__tel a {
  display: block;
  margin-bottom: 1.5%;
  text-decoration: none;
  font-size: 2rem;
  color: #779FD7;
  transition: all 0.3s;
}

.res-wrap__body__block__res__tel a:hover {
  transform: scale(1.05);
}

.res-wrap__body__block__res__tel a i {
  margin-right: 2.5%;
}

.news {
  background-color: rgb(119, 159, 215, 20%);
}

.news-wrap {
  display: flex;
  justify-content: space-between;
}

.news-wrap__left {
  width: 30%;
}

.news-wrap__left .btn {
  margin-right: auto;
  margin-left: 0;
}

.news-wrap__right {
  width: 60%;
}

.news-wrap__right__list__item {
  list-style: none;
  display: flex;
  border-bottom: solid 1px #ccc;
  margin-bottom: 1.5%;
  padding-bottom: 1.5%;
}

.news-wrap__right__list__item span {
  margin-right: 5%;
}

.map-wrap iframe {
  display: block;
  width: 100%;
}

